@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --font-primary: "Quicksand", sans-serif;
  --color-primary-bg: #2C2C2C;
  --color-primary-purple: #944db7;
}